body {
  font-family: Menlo, Consolas, Lucida Console, Courier New, monospace;
  background-color: white;
  color: #101010;
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.spaceRoot {
  user-select: none;
}

.spaceMap {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

.mapIcon {
  width: 40px;
  height: 40px;  
}

.spaceBack {
  position: absolute;
  left: 64px;
  bottom: 12px;
}

.backArrow {
  width: 40px;
  height: 40px;  
}

.spaceForward {
  position: absolute;
  left: 116px;
  bottom: 12px;
}

.forwardArrow {
  width: 40px;
  height: 40px;  
}

.spaceHost {
  position: absolute;
  left: 168px;
  bottom: 12px;
}

.hostIcon {
  width: 40px;
  height: 40px;  
}

#autosizer {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;  
}

#colorpicker {
  width: 30%;
}

.colorpickerColorButton {
  width: 3em;
  height: 3em;
}